{% extends '@ChromeExt/base.html.twig' %}

{% block page_title %}Logged time{% endblock %}
{% block navbar_start %}{% endblock %}

{% block main %}

<div class="container" title="{{extIssue.uuid }}">
    <strong>Project:</strong> {{ extProject.project.name }} <a href="{{ path('chrome_ext_edit_project', {'project': extProject.Uuid, 'issue': extIssue.Uuid}) }}"><i class="far fa-edit"></i></a>
</div>

{% if timesheets | length %}
  {% for timesheet in timesheets %}
      <div class="container" title="{{ timesheet.getDescription }}">
        <a href="{{ path('timesheet_edit', {'id': timesheet.id, 'extIssue': extIssue.id}) }}"><i class="far fa-edit"></i></a>
        {{ timesheet.getBegin|date("Y/m/d") }},
        {{ timesheet.getDuration|date('H:i', '+00:00 GMT') }} (H:M),
        {{ timesheet.getActivity.getName }}
        <a href="{{ path('chrome_ext_delete', {'timesheet': timesheet.id, 'issue': extIssue.id}) }}"><i class="fas fa-trash-alt"></i></a>
        </div>
  {% endfor %}
{% else %}
    <div class="container">
      No time is logged for this issue.
    </div>
{% endif %}

<div class="container">
  <a href="{{ 
    path('timesheet_create',
    { 
      begin: "now"|date("Y-m-d"), 
      project: extProject.project.id, 
      extProject: extProject.id, 
      extIssue: extIssue.id 
    })
  }}">Log new time</a>
</div>
{% endblock %}
